*~
benchs/out
bin/helena-generate-bit-stream
bin/helena-generate-checker
bin/helena-generate-dve
bin/helena-generate-interface
bin/helena-generate-lna
bin/helena-generate-property
bin/helena-ltl2ba
examples/beem
releases
src/lna/obj
src/checker/latex
src/checker/html
src/checker/test_*
src/ltl2ba/*.o
tests
